* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* COMMON */

.wrapper {
    height: 100vh;
    width: 100%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.flex {
    display: flex;
}

.fx-col {
    flex-direction: column;
}

main {
    height: calc(100vh - 100px);
}


/* FINE COMMON */


/* MAIN */

.control-panel {
    width: 250px;
    float: left;
    position: relative;
    height: 100%;
}

.container {
    width: calc(100% - 250px);
    float: left;
    height: 100%;
}

.top-menu {
    width: 100%;
    height: 100%;
    padding-right: 20px;
}

.bottom-menu {
    width: 100%;
    position: absolute;
    min-height: 100px;
    padding: 10px;
    bottom: 0;
}

.main-logo {
    width: 100%;
    height: 80px;
    padding: 15px;
}

.action-menu {
    width: 100%;
}

.bottom-menu hr {
    margin: 5px auto;
    color: lightgray;
}


/* FINE MAIN */


/* FOOTER */

footer {
    height: 100px;
    width: 100%;
}


/* FINE FOOTER */


/* DEBUG ZONE */

.debug footer {
    background-color: blue;
}

.debug .bottom-menu {
    background-color: rebeccapurple;
}

.debug main {
    background-color: purple;
}

.debug .container {
    background-color: green;
}

.debug .top-menu {
    background-color: rgb(132, 90, 174);
}

.debug .main-logo {
    border: 1px solid red;
}

.debug .action-menu {
    border: 1px solid orange;
}

.debug .playlist-menu {
    border: 1px solid yellow;
}

.install-app {
    border: 1px solid salmon;
    height: 30px;
}

.user-account {
    border: 1px solid orangered;
    height: 30px;
}